{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "info": {
      "parentTypeName": "Mutation",
      "fieldName": "recordSale"
    },
    "arguments": $util.toJson($ctx.args)
  }
}