{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "info": {
      "parentTypeName": "Mutation",
      "fieldName": "recordSale"
    },
    "arguments": {
      #if($ctx.args.recipeId) "recipeId": $util.toJson($ctx.args.recipeId), #end
      #if($ctx.args.saleAmount) "saleAmount": $util.toJson($ctx.args.saleAmount), #end
      #if($ctx.args.quantitySold) "quantitySold": $util.toJson($ctx.args.quantitySold) #end
    }
  }
}